
DATABASE_URL=

NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173


JWT_ACCESS_SECRET=cambia-esto
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=cambia-esto
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

# REDIS_URL=redis://localhost:6379
